table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.error {
    color: rgb(195, 52, 52);
}